@{
    ViewBag.Title = "Contact";
}

<div class="text-capitalize">
    <h1>Coordonnées</h1>
    <p>
        20 bis Les Jardins Boieldieu,<br>
        92071 La Défense
    </p>
    <abbr title="Phone">P:</abbr>
    01 02 03 04 05
</div>

<address>
    <strong>Mail : </strong>   <a href="mailto:contact@m2l-asso.fr">contact@m2l-asso.fr</a><br />
</address>


@model M2L_Asso.Models.Email
@{
    ViewBag.Title = "Contactez-nous !";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Envoyer vos remarques et vos questions 📧  </h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.FromName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FromName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FromEmail)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Message)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Send" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}